<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome to YourList!</h1>
        <br>
        <br>
        Please enter your credentials:
        <br>
        <br>
        <form action="/login" method="post">
            <input type="listText" name="username" placeholder="Enter your name"/>
            <br>
            <br>
            <input type="password" name="password" placeholder="Enter password"/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>